[Desktop Entry]
Comment[en_US]=
Comment=
Exec=beeper --hidden
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Beeper
Name=Beeper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
