[Desktop Entry]
Comment[en_US]=
Comment=
Exec=caprine
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Caprine
Name=Caprine
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
