[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/run/current-system/sw/bin/element-desktop --hidden
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Element
Name=Element
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
