[Desktop Entry]
Exec=kill -STOP $(kdotool getwindowpid "$(qdbus org.kde.KWin /KWin queryWindowInfo | awk '$1 == "uuid:" {print $2}')")
Name=Stop focused program
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
